/* styles.css */
<style>
	 h1, h2 {
      font-family: 'Italianno', cursive; 
      color: #5a3e2b;
    }

    h1 {
      font-size: 3.8rem;
      letter-spacing: 0.04em;
      text-align: center;
      background-color: #C0BBB5;
      padding: 0.4rem 0;
      margin-bottom: 0;
    }

    h2 {
      font-size: 2rem;
      border-bottom: 2px solid #C0BBB5;
      padding-bottom: 0.2rem;
      margin-top: 1.4rem;
      margin-bottom: 0.7rem;
    }
	body {
      font-family: 'Lato', sans-serif; 
      font-weight: 300;
      background-color: #f0ede8;
      color: #2c2c2c;
    }
